<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <title>Hair Salon Management - Stylists list cleared!</title>
    </head>
    <body>
        <div class="container" align="center">
            <h1>Your list of stylists has been removed!</h1>
            <p><a href="/">Home</a></p>
        </div>
    </body>
</html>
